html {
    background-color: skyblue;
}
ul {
    display: flex;
    text-decoration: none;
    color: green;
    flex-direction: row;
    justify-content: flex-end;
    
}
#nav {
    display: inline-block;
    float: right;
    margin-right: -10px;
    text-align: right;
    margin-left: 1400px;
    padding: 10px 10px 10px;
    background-color: lightblue;
    height: 80px;
    width: 100%;
}
* {
    /*padding: 0;
    margin: 0;*/
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#nav ul li {
    padding: 30px 30px 30px;
}
footer {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}
a:hover {
    background: greenyellow;
    transition: .5s;
}

 .health {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
}
.body {
    text-align: center;
}
#image {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}
#id {
    display: flex;
    padding: 10px;
}
#life {
    padding: 10px;
}

.jose {
    display: flex;
}
/* .why {
    padding: 10px;
} */
/*#src {
    padding: 10px;
}*/
#end {
    padding: -20px;
    margin-right: 10px;
}
#mat {
    padding: 20px;
}
.d {
    margin-top: 25%;
}
#can {
    margin-top: 50px;
    padding: 20px;
}
#f {
    margin-top: 10px;
}
.aria {
    margin-left: 26%;
    padding: 10px;
}
.services {
    text-align: center;
}
.them {
    padding: 10px;
}


